In [2]:
# if file is not present 
f=open('sample.txt','w')
f.write("hello world")
f.close()
f.write("hello")

In [ ]:
write()--->Writes a single string to the file.
#Does NOT add a newline automatically — you need to add \n yourself if you want line breaks.
writelines()---->

In [ ]:

text file 

# 3 types 
open a file
read/write
close the file

In [3]:
# show error since file is close hence this will not work
f.write("hello")

ValueError: I/O operation on closed file.

In [1]:
f=open("sample2.txt",'w')
f.write("hello world")
f.close()

In [2]:
f.write("hello")

ValueError: I/O operation on closed file.

In [ ]:
f=open('sample.txt','w')
f.write("hello world")
f.close()
f.write("hello")   #error

In [3]:
# write multiple line 
#Writes a single string to the file
#You must add \n yourself if you want a new line.
#Accepts only one string, not a list
f=open("sample2.txt","w")
f.write("hello world\n")
f.write("how are you?\n")
f.close()

In [4]:
# case 2 if file is already present
f=open("sample2.txt","w")
f.write("salman khan")
f.close() # override 
# problem with w mode

In [5]:
# introduce append mode (old+new)
f=open('sample2.txt','a')
f.write("\ni am fine")
f.close()

In [6]:
# write multiple line
#Writes a list( or any iterable) of strings to the file.
#Does not automatically add \n.
#You must include newline characters manually.
l=['hello\n','hi\n','how are you\n','I am fine\n']
f=open('sample3.txt','w')
f.writelines(l)
f.close()

In [ ]:
When to use what?
✔ Use write() when:

Writing one line or one string at a time

Building file content manually

✔ Use writelines() when:

You already have a list of strings

You want to write many lines at once

In [ ]:
read()  Reads whole file as a single string (return string)
readline()   Reads one line at a time  ,save memory ,like iterator ,we can create  custome code
readlines()   Reads all lines into a list

In [17]:
# Use when: You want all the text at once.
f=open(r'C:\Users\complere\Desktop\module2\module_2_agenda\demo.txt','r')
s=f.read()
print(s)
print(s[0])
f.close()

--Today agenda is ddl,datatypes,constraints
--Create database complere
--drop database
--create database idea1
--create table sudent with column(stuname,stuid,stuage,grade)
--ALTER COMMAND
--add a new column email
--drop a column email
--rename the column name stuid to id
--modify the datatype char to varchar or visa-versa
--difference between drop and truncate
--drop table
--truncate table
--DATATYPES (define a value that a column can store to ensure the accuracy)
--what happened char datatype -int
--what happened char(2)-char(3)
--what happened int-float
--CONSTRAINTS(some rules we applied to our columns)
--PRIMARY KEY(unique,not null,one pk)
--create table dummy1(stuname,stuid,stuage)
--foreign key (to connect two tables references to pk table)
--create table course1(courseid,coursename,stuid)
--unique (null allowed,ensure all values in column unique)
--add column contact_no
--not null(ensure columns cannot have null values)
--add column year_of_birth
--check (condition)
--chech(age>=18)
--default(set default value)
--add salary 40000



ON UPDATE CASCADE â†’ If the student_id or course_id changes in the parent table, it automatically updates in Enrollment.

ON DELETE CASCADE â†’ If a student or course is deleted from the parent table, all corresponding rows in Enrollment are automatically deleted.

corse delete kiya to child ki  related row delete ho jaegi


-

In [8]:
# read only n no of character
f=open(r'C:\Users\complere\Desktop\module2\module_2_agenda\demo.txt','r')
s=f.read(50)
print(s)
f.close()

--Today agenda is ddl,datatypes,constraints
--Crea

In [9]:
f=open(r'C:\Users\complere\Desktop\module2\module_2_agenda\demo.txt','r')
print(f.readline())
print(f.readline())
print(f.readline())
print(f.readline())
print(f.readline())
f.close()

--Today agenda is ddl,datatypes,constraints

--Create database complere

--drop database

--create database idea1

--create table sudent with column(stuname,stuid,stuage,grade)

In [10]:
# there is a gap in between line 
#first gap (readline move to next line)
#second gap becoz of print
f=open(r'C:\Users\complere\Desktop\module2\module_2_agenda\demo.txt','r')
print(f.readline(),end="")
print(f.readline(),end="")
f.close()

--Today agenda is ddl,datatypes,constraints
--Create database complere

In [28]:
# readline---> line by line
#f.readlines() reads the entire file into memory at once, but organizes it into a list of lines
f=open(r'C:\Users\complere\Desktop\module2\module_2_agenda\demo.txt','r')
s=f.readline()
print(s)
print(s[5:9])
f.close()

--Today agenda is ddl,datatypes,constraints

ay a

# readlines---> return list

In [11]:
f=open(r'C:\Users\complere\Desktop\module2\module_2_agenda\demo.txt','r')
s=f.readlines()
print(s)
print(s[0:5])
print(s[1])
f.close()

['--Today agenda is ddl,datatypes,constraints\n', '--Create database complere\n', '--drop database\n', '--create database idea1\n', '--create table sudent with column(stuname,stuid,stuage,grade)\n', '--ALTER COMMAND\n', '--add a new column email\n', '--drop a column email\n', '--rename the column name stuid to id\n', '--modify the datatype char to varchar or visa-versa\n', '--difference between drop and truncate \n', '--drop table \n', '--truncate table\n', '--DATATYPES (define a value that a column can store to ensure the accuracy)\n', '--what happened char datatype -int\n', '--what happened char(2)-char(3)\n', '--what happened int-float\n', '--CONSTRAINTS(some rules we applied to our columns)\n', '--PRIMARY KEY(unique,not null,one pk)\n', '--create table dummy1(stuname,stuid,stuage)\n', '--foreign key (to connect two tables references to pk table)\n', '--create table course1(courseid,coursename,stuid)\n', '--unique (null allowed,ensure all values in column unique)\n', '--add column contact_no\n', '--not null(ensure columns cannot have null values)\n', '--add column year_of_birth\n', '--check (condition)\n', '--chech(age>=18)\n', '--default(set default value)\n', '--add salary 40000\n', '\n', '\n', '\n', 'ON UPDATE CASCADE â†’ If the student_id or course_id changes in the parent table, it automatically updates in Enrollment.\n', '\n', 'ON DELETE CASCADE â†’ If a student or course is deleted from the parent table, all corresponding rows in Enrollment are automatically deleted.\n', '\n', 'corse delete kiya to child ki  related row delete ho jaegi\n', '\n']
['--Today agenda is ddl,datatypes,constraints\n', '--Create database complere\n', '--drop database\n', '--create database idea1\n', '--create table sudent with column(stuname,stuid,stuage,grade)\n']
--Create database complere

# imp note

In [30]:
# in which scenerio should i use
#read(all data) v/s readline(used in big content )  # memory saver 
# make a custom code for line by line 
f=open(r'C:\Users\complere\Desktop\module2\module_2_agenda\demo.txt','r')
while True:
    data=f.readline()
    if data =="":   # empty blank 
        break
    else:
        print(data,end="")
f.close()

--Today agenda is ddl,datatypes,constraints
--Create database complere
--drop database
--create database idea1
--create table sudent with column(stuname,stuid,stuage,grade)
--ALTER COMMAND
--add a new column email
--drop a column email
--rename the column name stuid to id
--modify the datatype char to varchar or visa-versa
--difference between drop and truncate
--drop table
--truncate table
--DATATYPES (define a value that a column can store to ensure the accuracy)
--what happened char datatype -int
--what happened char(2)-char(3)
--what happened int-float
--CONSTRAINTS(some rules we applied to our columns)
--PRIMARY KEY(unique,not null,one pk)
--create table dummy1(stuname,stuid,stuage)
--foreign key (to connect two tables references to pk table)
--create table course1(courseid,coursename,stuid)
--unique (null allowed,ensure all values in column unique)
--add column contact_no
--not null(ensure columns cannot have null values)
--add column year_of_birth
--check (condition)
--chech(age>=18)
--default(set default value)
--add salary 40000

# WITH

In [12]:
# It is a good idea to close a file after usage as it will free up 
# the resources
# if we donot close, garbage collector would close it
# with key word closes the file as soon as the usages is over 
with open ('sample3.txt','a') as f:
    f.write("&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&7")

In [13]:
# read with 
with open('sample3.txt','r') as f:
    print(f.read())

hello
hi
how are you
I am fine
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&7

In [34]:
with open('sample.txt','r') as f:
    print(f.read(10))
    print(f.read(10))  # next 10 character

&&&&&&&&&&
&&&&&&&&&&

# list -----> file

In [18]:
l=["hello world" for i in range(50)]
print(l)

with open("big1.txt","w") as f:
    f.writelines(l)


#f.writelines(l)

['hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world', 'hello world']

In [37]:
l=["hello world" for i in range(50)]
with open("big.txt","w") as f:
    f.writelines(l)

# SEEK AND TELL FUNCTION

In [39]:
#file.tell() returns the current position of the file pointer
#“Where am I currently inside the file?”
with open(r'C:\Users\complere\Desktop\module2\module_2_agenda\demo.txt','r') as f:
    print(f.read(100))
    print(f.tell())

--Today agenda is ddl,datatypes,constraints
--Create database complere
--drop database
--create data
103

In [22]:
# f.seek() is used to move the file pointer to a specific position in the file.
with open(r'C:\Users\complere\Desktop\module2\module_2_agenda\demo.txt','r') as f:
    print(f.read(100))
    print(f.tell())
    f.seek(0)
    print(f.read(5))
    #print(f.tell())

--Today agenda is ddl,datatypes,constraints
--Create database complere
--drop database
--create data
103
--Tod

In [7]:
# working with other datatype 
with open('sample.txt','w') as f:
    f.write(5) #error only string accept

TypeError: write() argument must be str, not int

In [ ]:
#create a csv file using list
list--->csv
csv--->list

In [23]:
import csv

# Data to write (list of lists or list of tuples)
data = [
    ['name', 'age', 'city'],  # header row
    ['Alice', 30, 'New York'],
    ['Bob', 25, 'Los Angeles'],
    ['Charlie', 35, 'Chicago']
]

# Open a new file in write mode
with open('people5.csv', 'w') as f:
    writer = csv.writer(f)

    # Write all rows
    writer.writerows(data)

In [ ]:
# read a csv file

In [24]:
#rows as lists)
import csv

with open('people5.csv', 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)  # each row is a list of strings
# shows empty lists [] after every row.
#This usually happens because the CSV file has extra blank lines between the rows.

['name', 'age', 'city']
[]
['Alice', '30', 'New York']
[]
['Bob', '25', 'Los Angeles']
[]
['Charlie', '35', 'Chicago']
[]

In [25]:
# read csv in pandas
import pandas as pd
df=pd.read_csv("people5.csv")
df

      name  age         city
0    Alice   30     New York
1      Bob   25  Los Angeles
2  Charlie   35      Chicago

In [26]:
#rows as dictionaries
import csv

with open('people5.csv', 'r') as file:
    reader = csv.DictReader(file)
    for row in reader:
        print(row)  # each row is a dict with column names as keys

{'name': 'Alice', 'age': '30', 'city': 'New York'}
{'name': 'Bob', 'age': '25', 'city': 'Los Angeles'}
{'name': 'Charlie', 'age': '35', 'city': 'Chicago'}

In [ ]:
list-- json 
json - list

In [ ]:
Using JSON (BEST method for lists/dicts)

If you are storing Python lists or dictionaries, JSON is the safest and easiest way.

In [28]:
import json

data = ["apple", "banana", "cherry"]

with open("data.json", "w") as f:
    json.dump(data, f)

In [29]:
#Write list or dict to a file
import json

data = {
    "name": "Alice",
    "age": 21,
    "marks": [88, 92, 79]
}

with open("data1.json", "w") as f:
    json.dump(data, f)  # {"name": "Alice", "age": 21, "marks": [88, 92, 79]}

In [32]:
#Write list or dict to a file
import json

data = {
    "name": "Alice",
    "age": 21,
    "marks": [88, 92, 79]
}

with open("data3.json", "w") as f:
    json.dump(data, f, indent=4)

In [33]:
#Read list/dict from a file
import json

with open("data3.json", "r") as f:
    data = json.load(f)

print(data)

{'name': 'Alice', 'age': 21, 'marks': [88, 92, 79]}

# thanku